body
{
	background-color: black;
}

h1
{
	text-align: center;
	color: white;
}

li
{
	margin: 0 0 10 0px;
	
}

ul
{
    list-style-type: none;
    font-family: sans-serif;
	margin: 0 0 10 0px;
	color: white;
}

.teams
{
	text-align: center;
}