<html>
	<head></head>

	<body>

		<h1> Edit Player </h1>

		<form action='{{url_for('editPlayer',team_id=players.team_id,pid=players.pid)}}' method='post'>

			<p>Number: <input type='text' size='2' name='number' placeholder='{{players.number}}'></p>
			<p>First Name: <input type='text' size='30' name='fname' placeholder='{{players.fname}}'></p>
			<p>Last Name: <input type='text' size='30' name='lname' placeholder='{{players.lname}}'></p>
			<p>Position: <input type='text' size='10' name='position' placeholder='{{players.position}}'></p>

		<p> <input type='submit' value='Save'>

		<a href='{{url_for('showRoster',team_id=players.team_id,pid=players.pid)}}'>Cancel</a></p>

		</form>

	</body>

</html>