<html>
	<head></head>

	<body>

		<h1> Edit Player </h1>

		<form action='{{url_for('editPlayer', pid=Players.pid)}}' method='post'>

			<p>Number: </p> <input type='text' size='30' number='number' placholder='{{pid.number}}'>
			<p>First Name: </p> <input type='text' size='30' fname='fname' placholder='{{pid.fname}}'>
			<p>Last Name: </p> <input type='text' size='30' lname='lname' placholder='{{pid.lname}}'>
			<p>Position: </p> <input type='text' size='30' position='position' placholder='{{pid.position}}'>

		<input type='submit' value='Save'>

		<a href='#'>Cancel</a>

		</form>

	</body>

</html>