<html>
	<head></head>

	<body>

		<h1> Edit Player </h1>

		<form action="#" method='post'>

			<p>Number: </p> <input type='text' size='30' number='number' placholder='{{item.number}}'>
			<p>First Name: </p> <input type='text' size='30' fname='fname' placholder='{{item.fname}}'>
			<p>Last Name: </p> <input type='text' size='30' lname='lname' placholder='{{item.lname}}'>
			<p>Position: </p> <input type='text' size='30' position='position' placholder='{{item.position}}'>

		<input type='submit' value='Edit'>

		<a href='#'>Cancel</a>

		</form>

	</body>

</html>