<html>
	<head></head>

	<body>

		<h1> New Player </h1>

		<form action='{{url_for('newPlayer',team_id=team_id)}}' method='post'>

			<p>Number: <input type='text' size='8' number='number'></p> 
			<p>First Name: <input type='text' size='30' fname='fname'></p> 
			<p>Last Name: <input type='text' size='30' lname='lname'></p> 
			<p>Position: <input type='text' size='30' position='position'></p> 

		<input type='submit' value='Create'>

		<a href='{{url_for('showRoster',team_id=team_id)}}'>Cancel</a>

		</form>

	</body>

</html>