<html>
	<body>
		<a href="{{url_for('showTeams')}}"><h1>{{ team.team_name }}</h1></a>
		
		{% if 'username' not in login_session %}
			<p>
				<a href="{{url_for('showLogin')}}">Login</a>
			</p>
		{% else %}
			<p>
				<a href="{{url_for('gdisconnect')}}">Logout</a>
			</p>
		{% endif %}

		
		{% for player in players %}
			{{player.number}} {{player.fname}} {{player.lname}} {{player.position}} 
				<br/>
		{% endfor %}
		
		<br>
		<a href="{{url_for('newPlayer',team_id=team.tid)}}">New Player</a>
	</body>
</html>